@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Share+Tech+Mono&display=swap');

.Header{
    font-family: 'Share Tech Mono', monospace;
}
.Content {
    text-align: center;
}

p {
    font-size: 5px;
}

h1 {
    font-size: 10px;
}